<h1>All Games</h1>

<% for(let game of games) {%>
    <h1> <%= game.title %></h1>
    <p> <%= game.description %></p>
    <img src="<%= game.image_url %>" alt="">
    <p> <%= game.genre %></p>
    <p> <%= game.platform %></p>
    <!-- npm i moment module -->
    <p> <%= moment(game.release_date).format('DD/MM/YYYY') %></p>

<% } %>

