<h2>Homepage</h2>

<div. class="all-games">
  <% for (let game of games) { %>

    <div class="ui-card">
      <img src="<%= game.image_url %>" alt="">

      <section class="content">
        <h2>
          <a href="/games/<%= game.id %>">
            <%= game.title %>
            
          </a>
        </h2>
      </section>  
      <footer class="content">
        <p>Genre: <%= game.genre %></p>
        <p>Platform: <%= game.platform %></p>
        <p>Release Date: <%= moment(game.release_date).format('DD/MM/YYYY') %></p>
      </footer>
    </div>

  <% } %>