<h2>Game Details</h2>

<h2><%= game.title %></h2>

<p><%= game.description %></p>


<a href="/games/<%= game.id %>/edit">edit game</a>
<img src="<%= game.image_url %>" alt="">

<form action="/comments" method="post">
  <label for="">comment</label>
  <textarea name="content"></textarea>
  <input type="hidden" name="game_id" value="<%= game.id %>">
  <button>post</button>
</form>

<% for (let comment of comments) { %>
  <p><%= comment.content %></p>
<% } %>