<h2>Game Details</h2>

<h2><%= game.title %></h2>

<p><%= game.description %></p>

<a href="/games/<%= game.id %>/edit">Edit Game</a>
<img src="<%= game.image_url %>" alt="" />
<p>Genre: <%= game.genre %></p>
<p>Platform: <%= game.platform %></p>
<p>Release Date: <%= moment(game.release_date).format('DD/MM/YYYY') %></p>

<form action="/games/<%= game.id %>?_method=delete" method="post">
  <button>Delete Game</button>
</form>

<form action="/favourites" method="post">
  <input type="hidden" name="game_id" value="<%= game.id %>" />
  <button type="submit">Add to Favourites</button>
</form>

<form action="/comments" method="post">
  <label for="">Add Comment: </label>
  <textarea name="content"></textarea>
  <input type="hidden" name="game_id" value="<%= game.id %>" />
  <button>Post</button>
</form>

<% for (let comment of comments) { %>
<p><%= comment.content %></p>
<% } %>
